body{
    margin: 0%;
    background-color: cyan;
}
#container{
    position: relative;
}

#rod1, #rod2{
    width: 200px;
    height: 20px;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    left: 43%;
    color: white;
    font-weight: bold;
}
#rod1{
    background-color: black;
    top: 0%;
}
#rod2{
    background-color: black;
    bottom: 0%;
}

#ball{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    position: fixed;
    left: 50%;
    top: 20px;
}

